<div class="welcome-box">
            <img src="assets/images/banner-image.png" class="welcome-image" alt="Gaming picture" width="600px"
                height="600px">
        </div>
        <div class="welcome-box">
            <div class="card">
                <h2>Book your seat now!</h2>
                <p>Be sure to book your seat in advance! By reserving your spot ahead of time, you can guarantee that
                    you'll have a spot to play your favorite games with your friends.</p>
                <button aria-label="Book your seat">Click Here!</button>
            </div>

        </div>




        .welcome-section{
          display:flex;
          align-items: center;
          justify-content: center;
          align-content: center;
          flex-wrap: nowrap;
          gap: 2rem;
      }
      .welcome-box {
          margin: 100px 50px 10px 50px;
      }
      
      .welcome-box img {
          opacity: 0.5;
      }
      
      .card{
          margin: 10px;
          padding: 10px;
          color: var(--clr-neutral-white);
      }
      .card h2{
          margin-bottom: 10px;
          color: var(--clr-neutral);
      }
      
      .card button{
          display: inline-block;
          width: 40%;
          font-size: 16px;
          margin-top: 20px;
          border-radius: 5px;
          background-color: var(--clr-accent-dark);
          color: var(--clr-neutral-white);
      }